@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 176 35% 45%;
    --primary-foreground: 176 35% 95%;

    --secondary: 176 30% 94%;
    --secondary-foreground: 176 35% 25%;

    --muted: 176 30% 94%;
    --muted-foreground: 176 10% 45%;

    --accent: 21 89% 83%;
    --accent-foreground: 20 14.3% 4.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 176 26% 89%;
    --input: 176 26% 89%;
    --ring: 176 35% 45%;

    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    --radius: 0.5rem;
  }

  .dark {
    /* Cores para o modo escuro podem ser definidas aqui no futuro */
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

html,
body {
  padding: 0;
  margin: 0;
}
